{%extends 'crud/base.html'%} {%block content%}
<div class="container p-2">
  <h3>Django</h3>
  <p>
    Django is a Python-based free and open-source web framework that follows the
    model-template-views architectural pattern. It is maintained by the Django
    Software Foundation, an American independent organization established as a
    501 non-profit.
  </p>
  <b>Posted By Saugat At 2020-12-12-00:00:00</b>

  <h3>Django</h3>
  <p>
    Django is a Python-based free and open-source web framework that follows the
    model-template-views architectural pattern. It is maintained by the Django
    Software Foundation, an American independent organization established as a
    501 non-profit.
  </p>
  <b>Posted By Saugat At 2020-12-12-00:00:00</b>
  <h3>Django</h3>
  <p>
    Django is a Python-based free and open-source web framework that follows the
    model-template-views architectural pattern. It is maintained by the Django
    Software Foundation, an American independent organization established as a
    501 non-profit.
  </p>
  <b>Posted By Saugat At 2020-12-12-00:00:00</b>
</div>
{%endblock%}
