{%extends 'crud/base.html'%} {%block content%} {% for post in posts %}
<div class="container">
  <div class="card" style="width: 70rem">
    <div class="card-body">
      <h5 class="card-title">{{post.title}}</h5>
      <h6 class="card-subtitle mb-2 text-muted">
        Posted By {{post.user.username}} At {{post.date_published}}
      </h6>
      <p class="card-text">{{post.content}}</p>
      <a
        href="/post/update/{{post.id}}"
        class="btn btn-outline-danger float-right"
        >Update
      </a>
    </div>
  </div>
</div>
<br />
{%endfor %} {%endblock%}
